*{
    margin: 0;
    box-sizing: border-box;
}

body{ font-family: Arial, Helvetica, sans-serif;}

.container {
    width: 50%;
    height: 500px;
    line-height: 2;
    border: 2px solid #000;
    padding: 16px;
    margin: 80px auto;
    position: relative;
}

.position {
    width: 150px;
    height: 100px;
    font-size: 1.3rem;
    line-height: 100px;
    text-align: center;
}

.static{
    background-color: blueviolet;
}

.relative {
    background-color: chartreuse;
    position: relative;
    /* top: 100px; */
    /* left: 500px;
    bottom: -100px; */
    z-index: 30;
}

.absolute {
    background-color: deeppink;
    position: absolute;
    /* top: 0;
    right: 0; */
    z-index: 10;
}

.fixed{
    background-color: yellow;
    position: fixed;
    top: 150px;
    left: 450px;
    z-index: 20;
}

.sticky{
    display: grid;
    font-weight: bold;
    place-content: center;
    width: 200px;
    height: 150px;
    background-color: tomato;
    position: sticky;
    top: 30px;
}