:root{
    --background-color : indigo;
}

body{
    background-color: var(--color, steelblue);
}

.parent {
  --background-color: black;

  background: indigo;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}

.child {
  width: 100px;
  height: 100px;
  background: var(--background-color);
}

.first {
  --background-color: gold;
}
